// 公用变量
:root {
  --web-bg: #f5f6f8;
  --content-width: 1200px;
  --primary-color: rgba(95, 192, 152);
  --header-height: 70px;

  --link-color: #409eff;
  --success-color: #16a134;
  --error-color: #f5222d;
  --warn-color: #f66030;
  --info-color: #c3c3c3;
  --disabled-color: rgba(153, 153, 153, 1);
  --disabled-bg: #ddd;
}
