// 公用变量
html {
  --primary-color: rgba(95, 192, 152);
  --success-color: #16a134;
  --warn-color: #f66030;
  --error-color: #f5222d;
  --info-color: #c3c3c3;

  --web-bg: #f5f6f8;
  --content-width: 1200px;
  --header-height: 70px;
  --link-color: #409eff;
  --disabled-color: rgba(153, 153, 153, 1);
  --disabled-bg: #ddd;
}

// 暗黑模式
html.dark {
  /* 自定义深色背景颜色 */
  --primary-color: rgb(18, 39, 133);
  --success-color: #18a43b;
  --warn-color: #f66030;
  --error-color: #f5222d;
  --info-color: #c3c3c3;
}
