// form 样式
.task-form {
  .task-form__tip {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
  }
  .task-form__title {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
  }
  .task-form__upload {
    width: 100%;
    .el-upload {
    }
    .el-upload-list {
      .el-upload-list__item {
        .el-upload-list__item-name {
          &:hover {
            color: inherit;
            text-decoration: auto;
          }
          .el-upload-list__item-file-name {
          }
        }
      }
    }
  }
  .task-form__error {
    margin: 10px 50px 0;
    color: var(--error-color);
    line-height: 1.5;
  }
  .el-form-item__content {
    .el-select {
      width: 100%;
    }
    .el-form-item__notification {
      min-width: 100%;
      font-size: 14px;
      line-height: 18px;
      color: #747474;
    }
  }
}
