// 改变element plus ui变量
/* 改变主题色变量 */
:root {
  --el-color-primary: var(--primary-color);
  --el-color-success: var(--success-color);
  --el-color-warning: var(--warn-color);
  --el-color-danger: var(--error-color);
  --el-color-info: var(--info-color);
}
// 因为按需加载不能加载loading样式,所以只能先引入所有element css
@import 'element-plus/dist/index.css';
